
 <header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left" ng-click="doTheBack()"></a>
  <a class="icon icon-info pull-right" href="#/sobre/"></a>
  <h1 class="title">ACHEFÁCIL</h1>
</header>
 
<br>
<br>
<br>
<br>
<div class="content">
	<div class="app-content">
		<ul>
			<li id="empresa">
				<div class="empresa-img" style='background-image:url(images/empresas/{{autoid.thumbnailUrl}})'></div>
				<div class="empresa-info">
					  <br>
          
					<h1 class="empresa-company"> {{autoid.company}} </h1>
					<div class="bio"> {{autoid.about}} </div>
					<p> {{autoid.address}} </p>
					<p> {{autoid.email}}</p>
					<a href="{{autoid.social[0].link}}" target="_system">Facebook</a><br>
					<a href="{{autoid.social[1].link}}" target="_system">Twitter</a><br>

				</div>
				 <div id="map_canvas" ui-map="myMap" 
				         
				        ui-options="mapOptions" 
				        ui-event="{'map-idle' : 'onMapIdle()'}"
				        >
				        </div>
				        <!--In addition to creating the markers on the map, div elements with existing google.maps.Marker object should be created to hook up with events -->
				        <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]"
				                        ui-event="{'map-click': 'markerClicked(marker)'}">
				      </div>
				         <div ui-map-info-window="myInfoWindow">
				         <p>{{autoid.company}}</p>
				         <div class="empresa-img-map" style='background-image:url(images/empresas/{{autoid.thumbnailUrl}})'></div>

				         </div>
			</li>
		</ul>
	</div>
