 <header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left" ng-click="doTheBack()"></a>
  <a class="icon icon-info pull-right" href="#/sobre/"></a>
  <h1 class="title">ACHEFÁCIL</h1>
</header>
 <div class="content"> 
  <div class="foto">
  <form><input class="search" ng-model="search" type="search" placeholder="Procurar"></form>
  </div>

  <p class="table-view-divider">Casa & Construção</p>
  <ul class="table-view">
    <li class="table-view-cell" ng-repeat="item in casa | filter:search | orderBy:'company'">
      <a href="#/casa/{{item.id}}">
    
     {{item.company}}
        <br>
        <p>{{item.categoria}}</p> 
        
      </a>
      </li>
 
  </ul>

</div>
