
 <header class="bar bar-nav">
  
  <a class="icon icon-info pull-right"  href="#/sobre/"></a>

  <h1 class="title">ACHEFÁCIL</h1>
</header>


 <div class="content"> 
  <div class="foto">
  <img src="images/caruaru-sem-direitos-google.jpg">
  </div>

  <p class="table-view-divider">Categorias</p>
  <ul class="table-view">
  <li class="table-view-cell">
      <a href="#/adv/" data-transition="slide-in">
       Advocacia
      </a>
  </li>
  <li class="table-view-cell">
      <a href="#/animais/" data-transition="slide-in">
       Animais
      </a>
  </li>
    <li class="table-view-cell">
      <a href="#/auto/" data-transition="slide-in">
       Auto Peças e Acessórios
      </a>
  </li>
    <li class="table-view-cell">
      <a href="#/casa/" data-transition="slide-in">
       Casa & Construção
      </a>
  </li>
    <li class="table-view-cell">
      <a href="#/contabilidade/" data-transition="slide-in">
        Contabilidade
      </a>
  </li>
    <li class="table-view-cell">
      <a href="#/diversos/" data-transition="slide-in">
       Diversos
      </a>
  </li>
    <li class="table-view-cell">
      <a href="#/educacao/" data-transition="slide-in">
       Educação
      </a>
  </li>
    <li class="table-view-cell">
      <a href="#/entretenimento/" data-transition="slide-in">
       Entretenimento
      </a>
  </li>
    <li class="table-view-cell">
      <a href="#/gastronomia/" data-transition="slide-in">
        Gastronomia
      </a>
  </li>
    <li class="table-view-cell">
      <a href="#/livrarias/" data-transition="slide-in">
       Livrarias e Bibliotecas
      </a>
  </li>
    <li class="table-view-cell">
      <a href="#/moda/" data-transition="slide-in">
        Moda & Beleza
      </a>
  </li>
    <li class="table-view-cell">
      <a href="#/saude/" data-transition="slide-in">
        Saúde
      </a>
  </li>
    <li class="table-view-cell">
      <a href="#/servicos/" data-transition="slide-in">
        Serviços
      </a>
  </li>
<!--   
  <br>
    <li class="table-view-cell" ng-repeat="categoria in categorias | filter:search">
      <a href="#/servicos/" data-transition="slide-in" ng-click="Servicos.setCurrentCategoria(categoria)">
        {{categoria.namecat}}

      </a>
      </li>
  -->
  </ul>
</div>