
 <header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left" ng-click="doTheBack()"></a>
  <a class="icon icon-info pull-right" href="#/sobre/"></a>
  <h1 class="title">AGÊNCIANET</h1>
</header>
 
<br>
<br>
<br>
<br>
<div class="content">
	<div class="app-content">
		<ul>
			<li id="empresa">
				<div class="empresa-img" style='background-image:url(images/logo.png)'></div>
				<div class="empresa-info">
					  <br>

          
					
					<h1 class="empresa-company"> AGENCIANET </h1>
					<div class="bio"> A empresa AgenciaNET é especializada em criação e desenvolvimento de Websites, Design, Loja Virtual, E-mail Marketing, Identidade Visual, Mídia Digital e Assessoria Web. </div>
					<p>
						Rua José Anselmo de Lira Nº 222 - A | Maurício de Nassau |	Caruaru -	PE |	CEP: 55012-680
(81) 3095-8411
					</p>
					<a href="http://www.facebook.com/AGENCIANET" target="_system">Facebook</a><br>
					
				</div>
				
				        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31586.094268148783!2d-35.972388!3d-8.276723!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7a98bc41bf2f883%3A0x8f3f5a81486ccbac!2sMaur%C3%ADcio+de+Nassau%2C+Caruaru+-+PE%2C+Brasil!5e0!3m2!1spt-BR!2sus!4v1418299674545" width="600" height="450" frameborder="0" style="border:0"></iframe>
			</li>
		</ul>
	</div>
